<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/bootstrap-material-design.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/icons/css/open-iconic-bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/chat.css" />
  </head>
  <body>
    <div class="card rare-wind-gradient chat-room">
      <div class="card-body">
        <!-- Grid row -->
        <div class="row  px-lg-2 px-2">
          <!-- Grid column -->
          <!-- Members Start -->
          <div class="col-md-4 col-xl-4 centered  px-0">
            <h6 class="font-weight-bold mb-3 text-center text-lg-left">
              Members
            </h6>
            <div
              class="white z-depth-1 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue"
            >
              <ul class="list-unstyled friend-list">
                <% userList.map( user =>{ %>
                <li
                  class="active grey lighten-3 p-2"
                  onclick="selectUser('<% user._id %>')"
                >
                  <a
                    href="/chat/new/<%= user.id %>"
                    class="d-flex justify-content-between"
                  >
                    <img
                      src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
                      alt="avatar"
                      class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
                    />
                    <div class="text-small">
                      <strong><%= user.nickname %></strong>
                      <p class="last-message text-muted">
                        Say, Hi!
                      </p>
                    </div>
                  </a>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
          <!-- Members End -->
          <!-- Conversations Start -->
          <div class="col-md-4 col-xl-4 px-0">
            <h6 class="font-weight-bold mb-3 text-center text-lg-left">
              Conversations
            </h6>
            <div
              class="white z-depth-1 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue"
            >
              <ul class="list-unstyled friend-list">
                <% conversations.map( (conversation, i) =>{ %>
                <li
                  class="active grey lighten-3 p-2"
                >
                  <a
                    href="/chat/<%= conversation[0].conversationId  %>"
                    class="d-flex justify-content-between"
                  >
                    <img
                      src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
                      alt="avatar"
                      class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
                    />
                    <div class="text-small">
                      <strong><%= (conversationList[i].participants[0].nickname == user.nickname)?conversationList[i].participants[1].nickname:conversationList[i].participants[0].nickname %></strong>
                      <p class="last-message text-muted">
                            <%= conversation[0].body %>
                      </p>
                    </div>
                  </a>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
          <!-- Conversations End -->
          <!-- Grid column -->

          <!-- Grid column -->
         
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
   
  </body>
</html>
